.flex-c{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:5px
}
.flex-c-start{
    padding: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    flex-wrap: wrap;
}
.flex-row{
    display: flex;
    justify-content: center;
    gap: 16px;
    flex-wrap: wrap;
    flex-direction: column;
}
.kakao-box {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: space-between;
    /*align-items: flex-start;*/
    /*height: 100vh;*/
    margin: 0;
}
.kakao-notification {
    background-color: #fff;
    border: 1px solid #e1e1e1;
    border-radius: 10px;
    width: 450px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}
.kakao-notification-header {
    background-color: #ffe812;
    padding: 15px;
    text-align: center;
    font-weight: bold;
}
.kakao-notification-content {
    padding: 15px;
}
.kakao-notification-message {
    margin: 0 0 10px 0;
    line-height: 1.5;
}
.kakao-notification-image {
    text-align: center;
    margin: 10px 0;
}
.kakao-notification-image img {
    max-width: 100%;
    border-radius: 10px;
}
kakao-notification-button-container {
    text-align: center;
    margin: 15px 0;
}
.kakao-notification-button {
    background-color: #ffe812;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
    color: #000;
}
.kakao-notification-button:hover {
    background-color: #ffd700;
}
.w-100{
    width: 100%;
}
.w-fm-title{
    width: 160px;
}
.flex{
    display: flex;
    gap:5px;
}
.kakao-tit{

}
.fm-wrap{

    margin-top: 0;
    margin-left: 20px;
}
.container-kko {
    max-width: 1280px;
    min-width: 1280px;
    margin: 0 auto;
    /*font-family: 'Pretendard-Regular';*/
    /*font-size: 16px;*/
    /*padding-top: 24px;*/
    /*color: #212121;*/
    margin-bottom: auto;
    display: flex;
}

.form-section {
    padding: 20px;
    width: 65%;
}

.preview-section {
    width: 35%;
    padding: 20px;

}

#preview {
    padding: 20px;
    background-color: #d9e6f0;
    border: 1px solid #ccc;
    position: relative;
}

#previewDate {
    text-align: right;
    color: #666;
    margin-bottom: 10px;
}

#previewChannelName {
    font-weight: bold;
    margin-bottom: 10px;
}

.highlight-container {
    /*     background-color: #ffffff;
        border: 1px solid #ccc;
        padding: 10px; */
    position: relative;
}

.highlight-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffeb3b;
    padding: 5px 10px;

    border-top-left-radius: 8px;
    position: relative;

}

.highlight-header span {
    font-weight: bold;
    color: #000;
}

.jss1382 {
    top: 0;
    color: #fff;
    right: 0;
    width: 40px;
    height: 40px;
    z-index: 1;
    position: absolute;
    font-size: 10px;
    transform: translate(40%, -40%) scale(0.75);
    text-align: center;
    line-height: 37px;
    border-radius: 50%;
    background-color: #424242;
}

.highlight-body {
    padding: 10px;
    background-color: #ffffff;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.43;
}

#previewHighlightTitle {
    font-size: 18px;
    font-weight: bold;
    color: #000;
    width: 100%;
    white-space: normal;
    word-wrap: break-word;
}

#previewHighlightSubtitle {
    font-size: 14px;
    color: #666;
    white-space: normal;
    word-wrap: break-word;
}

.previewFooter {
    text-align: right;
    color: #666;
    margin-top: 10px;
}

.preview-note {
    text-align: center;
    color: #666;
    margin-top: 10px;
}
select {
    color: #666;
    vertical-align: middle;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
    box-sizing: border-box;
}

.addChild {
    min-width: 132px;
    height: 48px;
    color: #8C8E96;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px dashed #D5D8E0;
    border-radius: 8px;
    background-color: #FAFAFC;
    padding: 0px 19px;
    margin-left: 8px;
    font-size: 14px;
    margin-bottom: 14px;
}
.plusI{
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 6px;
    background-color: #000000;
}
.containerW{
    max-width: 1280px;
    min-width: 1280px;
    margin: 0 auto;
    font-family: 'Pretendard-Regular';
    font-size: 16px;
    padding-top: 24px;
    color: #212121;
    margin-bottom: auto;
}
/* wrap */
.wrap{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    height: 100%;
}

.has-content {
    border-top: 1px solid #bbb; /* 원하는 스타일 적용 */
}
.previewStrongTitle{
    font-size: 18px;
    font-weight: bold;
}
/********************* FORM *********************/
.fm-box-row{
    display: flex;
    padding: 10px;
    align-items: center;
    gap: 8px;
}
.fm-sel:focus, .fm-ipt:focus, .fm-ta:focus { border-color:#111; }
.fm-sel { width:100%; height:48px; padding:0 16px 0 16px; color:#000; line-height:3.15; border:1px solid #ddd; border-radius:3px; background:#fff url("../images/common/i-sel.png") right 19px center no-repeat; }
.fm-sel-2 { width:100%; height:50px; padding:0 40px 0 19px; color:#000; line-height:3.57; border-radius:5px; border:1px solid #eee; background:#fff url("../images/common/i-sel-2.png") right 19px center no-repeat; }
.fm-sel-4 { height:24px; padding:0 25px 0 0; color:#000; line-height:1.5; border:none; background:#fff url("../images/common/i-sel-3.png") right 10px top 10px no-repeat; font-weight:bold; }
.fm-sel-5 { width:200px; height:48px; margin-left: 10px; padding:0 16px 0 16px; color:#000; line-height:3.15; border:1px solid #ddd; border-radius:3px; background:#fff url("../images/common/i-sel.png") right 19px center no-repeat; }
.fm-sel-2 + .fm-sel-2 { margin-left:8px; }
.fm-ipt { width:100%; height:48px; padding:0 20px 0 16px; color:#000; line-height:3.57; border:1px solid #ddd; border-radius:3px; }
.fm-file { padding-right:116px; }
.fm-ipt-2 { width:100%; height:50px; padding:0 18px 0 18px; color:#000; line-height:3.57; border:1px solid #eee; border-radius:5px; }
.fm-wrap { margin-top:57px; }
.fm-wrap.cmgt { margin-top:0; }
.fm-wrap.cmgt-2 { margin-top:27px; }
.fm-row { margin-top:16px; }
.fm-wrap .fm-row:first-child { margin-top:0; }
.fm-row-col, .fm-row-col-2 { display:-webkit-box; display:-ms-flexbox; display:flex; }
.fm-row-col .fm-box, .fm-row-col-2 .fm-box { -ms-flex:1; flex:1; box-sizing:border-box; }
.fm-row-col .fm-box + .fm-box { margin-left:20px; }
.fm-row-col-2 .fm-box:first-child .fm-ipt { border-top-right-radius:0; border-bottom-right-radius:0; }
.fm-row-col-2 .fm-box:last-child .fm-ipt { border-top-left-radius:0; border-bottom-left-radius:0; margin-left:-1px }
.fm-box { position:relative; }
.fm-label { display:block; font-weight:bold; color:#000; margin-bottom:8px; }
.fm-label-small { font-weight:normal; color:#666; }
.fm-error { border-color:#c10026 !important; }
.fm-error-txt { display:none; }
.fm-error-txt.active { display:block; font-size:12px; color:#c10026; margin:7px 0 0 16px; }
.fm-txt { display:block; font-size:12px; color:#666; margin:7px 0 0 16px; }
.fm-col-2, .fm-col-3 { display:-webkit-box; display:-ms-flexbox; display:flex; }
.fm-col-2 .fm-box, .fm-col-3 .fm-box { -webkit-box-flex:1; -ms-flex:1; flex:1; }
.fm-col-2 .fm-box.flex-w-2 { -webkit-box-flex:2; -ms-flex:2; flex:2; }
.fm-col-2 .fm-sel, .fm-col-2 .fm-ipt, .fm-col-3 .fm-sel, .fm-col-3 .fm-ipt { border-radius:0; }
.fm-col-2 .fm-sel:focus, .fm-col-2 .fm-ipt:focus,
.fm-col-2 .fm-sel.fm-error, .fm-col-2 .fm-ipt.fm-error,
.fm-col-3 .fm-sel:focus, .fm-col-3 .fm-ipt:focus,
.fm-col-3 .fm-sel.fm-error, .fm-col-3 .fm-ipt.fm-error { position:relative; z-index:2; }
.fm-col-2 .fm-box:first-child .fm-ipt, .fm-col-2 .fm-box:first-child .fm-sel, .fm-col-3 .fm-box:first-child .fm-ipt, .fm-col-3 .fm-box:first-child .fm-sel { border-radius:3px 0 0 3px; }
.fm-col-2 .fm-box:last-child .fm-ipt, .fm-col-2 .fm-box:last-child .fm-sel, .fm-col-3 .fm-box:last-child .fm-ipt, .fm-col-3 .fm-box:last-child .fm-sel { border-radius:0 3px 3px 0; }
.fm-col-2 .fm-box + .fm-box, .fm-col-3 .fm-box + .fm-box { margin-left:-1px; }
.fm-ta { width:100%; height:160px; padding:14px 16px 14px 16px; line-height:1.71; border:1px solid #ddd; border-radius:3px; }
.fm-ta-in { padding-left:11px; }
.fm-h { height:296px; }

.fm-file-btn {
    position: absolute;
    top: 0;
    right: 0;
    width: 96px;
    height: 100%;
    text-align: center;
    color: #fff;
    background-color: #6e747b;
    line-height: 3.42;
    cursor: pointer;
    border-radius: 0 3px 3px 0;
}
.fm-required { margin:8px 0 -2px 0; font-size:12px; color:#c10026; text-align:right; }
.fm-col-btn { padding-right:94px }
.fm-cmgt { margin-top:6px; }
.fm-btn { position:absolute; top:0; right:0; width:96px; height:100%; text-align:center; color:#fff; background-color:#6e747b; line-height:1; cursor:pointer; border-radius:0 3px 3px 0; }
.fm-rad, .fm-chk { position:absolute; width:18px; height:18px; padding:0; margin:0; opacity:0; box-sizing:border-box; }
input:checked[type='checkbox'] {
    -webkit-appearance: checkbox;
}
.fm-rad + .fm-rad-i { display:inline-block; position:relative; width:auto; line-height:18px; cursor:pointer; color:#000; box-sizing:border-box; padding-left:26px; }
.fm-rad-i:before, .fm-rad-i:after, .fm-chk-i:before, .fm-chk-i:after { content:''; position:absolute; box-sizing:border-box; }
.fm-rad + .fm-rad-i:before { top:0; left:0; width:18px; height:18px; border:solid 1px #dedede; border-radius:50%; }
.fm-rad:checked + .fm-rad-i:after { top:5px; left:0; width:8px; height:8px; background-color:#ef3e42; border-radius:50%; margin-left:5px; }
.fm-chk + .fm-chk-i { display:inline-block; position:relative; width:auto; min-height:18px; cursor:pointer; padding-left:28px; }
.fm-chk + .fm-chk-i {
    display: inline-block;
    position: relative;
    width: auto;
    min-height: 18px;
    cursor: pointer;
    padding-left: 28px; /* 아이콘과 텍스트 사이의 간격을 위한 패딩 */
    line-height: 18px; /* 체크박스와 동일한 높이로 라벨의 내용 수직 정렬 */
}
.fm-chk.single + .fm-chk-i { padding-left:18px; }
.fm-chk-i:before { left:0; top:0; width:18px; height:18px; border:solid 1px #b2b2b2; }
.fm-chk:checked + .fm-chk-i:after { width:10px; height:5px; border:0 solid #666; border-width:0 0 2px 2px; -webkit-transform:rotate(-45deg); transform:rotate(-45deg); }
.fm-chk-i:after { left:4px; top:5px; }
.fm-chk.ty-2:checked + .fm-chk-i:before { border-color:#ee3a43; background-color:#ee3a43; }
.fm-chk.ty-2:checked + .fm-chk-i:after { border-color:#fff; }
.fm-chk:focus + .fm-chk-i:before, .fm-rad:focus + .fm-rad-i:before { outline:solid 1px #a6c8ff; }


.pop-wrap.pty2 .fm-sel { width:100%; height:48px; padding:0 16px 0 16px; color:#000; line-height:3.15; border:1px solid #ddd; border-radius:8px; background:#fff url("../images/common/i-sel.png") right 19px center no-repeat; }
.pop-wrap.pty2 .fm-ipt { width:100%; height:48px; padding:0 20px 0 16px; color:#000; line-height:3.57; border:1px solid #E1E3EB; border-radius: 8px 0 0 8px; }

.pop-wrap.pty2 .fm-col-btn { padding-right:52px }
.pop-wrap.pty2 .fm-btn { position:absolute; top:0; right:0; width:53px; height:100%; text-align:center; color:#161618; background-color:#ffffff;border: 1px solid #E1E3EB; line-height:1; cursor:pointer; border-radius:0 8px 8px 0;  font-weight: 700;font-size: 15px}
.pop-wrap.pty2 .btn-c { color:#fff; background-color:#434447; }


/********************* BUTTON *********************/
.btn-t, .btn-t-2, .btn-t-3, .btn-t-4, .btn-t-5 .btn-t-ipt{ display:inline-block; text-align:center; box-sizing:border-box; vertical-align:middle; }
.btn-t, .btn-t-2, .btn-t-3, .btn-t-4, .btn-t-5 .btn-t-ipt{
    display: flex;
    align-items: center; /* 수직 중앙 정렬 */
    justify-content: center; /* 수평 중앙 정렬 (필요 시 사용) */
}
.btn-t-ipt{
    min-width:100px; height:48px; padding:0 11px; line-height:2.4; font-weight:bold; border-radius:4px;
}
.btn-t { min-width:200px; height:60px; font-size:16px; padding:0 30px; line-height:3.75; font-weight:bold; border-radius:5px; }
.btn-t-2 { min-width:140px; height:50px; font-size:16px; padding:0 16px; line-height:3.125; font-weight:bold; border-radius:5px; }
.btn-t-3 { min-width:100px; height:36px; padding:0 11px; line-height:2.4; font-weight:bold; border-radius:4px; }
.btn-t-4 { height:29px; padding:0 9px; border-radius:3px; box-sizing:border-box; font-size:12px; line-height:2.2; }
.btn-t-5 { min-width:140px; height:48px; padding:0 18px; border-radius:3px; box-sizing:border-box; line-height:3.4; font-weight:bold; }
.btn-c { color:#fff; background-color:#4246c1; margin-top: 10px}
.btn-c:hover { color:#fff; text-decoration:underline; }
.btn-c-2 { color:#4246c1; border:solid 1px #4246c1; }
.btn-c-2:hover { color:#4246c1; text-decoration:underline; }
.btn-c-3 { color:#000; border:solid 1px #666; background:#fff; }
.btn-c-4 { color:#333; border:solid 1px #999; }
.btn-c-5 { color:#333; border:solid 1px #333; }
.btn-c-6 { color:#000; border:solid 1px #000; }
.btn-c-7 {color:#fff; background-color:#00b3b8;}
.btn-c-7:hover {color:#fff; text-decoration:underline;}
.btn-c-8 {color:#00b3b8; border:solid 1px #00b3b8;}
.btn-c-8:hover {color:#00b3b8; text-decoration:underline;}
.btn-wrap { text-align:center; margin-top:64px; -webkit-box-pack:center; -ms-flex-pack:center; justify-content:center; }
.btn-wrap.cmgt { margin-top:48px; }
.btn-wrap .btn-in { margin:0 2px 0 2px; }
.btn-wrap.topRight {text-align:right; justify-content:right; margin-top:-48px;}
.btn-wrap.topRight .btn-in a {min-width:200px;}
.btn-w-4 { width:150px; }
.btn-like { vertical-align:top; }
.btn-ico-in::after { content:''; display:inline-block; margin:4px 0 0 12px; width:5px; height:5px; border:0 solid #000; border-width:0 2px 2px 0; -webkit-transform:translate(-50%, -50%) rotate(-45deg); transform:translate(-50%, -50%) rotate(-45deg); }
.mobile .btn-print { display:none !important; }

.board-list {margin-top:20px;border-top:solid 2px #111; width: 100%}
.board-list.cmgt {margin-top:24px;}
.board-list.ty-2 thead {display:none;}
.board-list th {font-size:15px; color:#000;}
.board-list tr {border-bottom:solid 1px #eee;}
.board-list tr {height:80px;}
.board-list td {padding-top:20px; padding-bottom:18px; text-align:center;}
.board-list .tb-subj {padding-left:40px; padding-right:10px; box-sizing:border-box; text-align:left;}
.board-list .subj {font-size:16px; color:#000; font-weight:bold;}
.board-list .subj-2 {font-size:15px;}
.board-list .no-data, .accordion .no-data, .board-accor .no-data {padding:100px 0; color:#000; text-align:center;}

.hTIt{
    font-size: 24px;
    line-height: 36px;
    display: flex;
    align-items: center;
    margin-right: 30px;
    color: #212121;
    font-family: 'Pretendard-Bold';
}
.examREZ {
    padding:  24px 0 24px ;
    /* height: calc(100vh - 64px - 372px);
    min-height: 500px; */
}
.examREZ.ty2 {
    padding:  49px 0 68px ;
}
.rez_tit {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding-left: 16px;
}
.rez_tit.Fend{
    align-items: flex-end;
}
.rez_btn{
    display: flex;
    justify-content: flex-end;
}
.rez_btn button{
    height: 38px;
    border-radius: 40px;
    border: 1px solid #E1E3EB;
    background-color: #FFFFFF;
    padding: 0 16px;
    display: flex;
    align-items: center;
    margin-left: 8px;
    color: #616161;
    font-size: 14px;
}
.rez_btn button:first-child{
    margin-left: 0;
}
.rez_btn button.preference_btn{
    font-family: 'Pretendard-Bold';
}
.rez_btn button i{
    display: block;
    width: 16px;
    height: 16px;
    margin-right: 6px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.guide {
    padding: 24px 16px;
    color: #9E9E9E;
    font-size: 12px;
    margin: 0 16px 8px;
}
.guide > p {
    display: flex;
}
.guide_i{background-image: url("../images/search/admission_guide.svg")}
.exclamationI {
    width: 16px;
    min-width: 16px;
    height: 16px;
    display: inline-block;
    background: url(../images/search/warningG.svg) no-repeat center / contain;
    border-radius: 10px;
    vertical-align: -1px;
    margin-right: 8px;
}
.flex-c-c{
    display: flex;
    justify-content: center;
    align-content: space-around;
    flex-direction: column;
    align-items: center;
}
.flex-between{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
    margin-bottom: 10px;
}
.flex-space-around{
    display: flex;
    justify-content: space-around;
}
.kakao-image img{
    width: 250px;
}
.image-container {
    border: 2px solid transparent;
    cursor: pointer;
}
.selected {
    border-color: #bbb;
    border-radius: 8px;
}

.image-wrapper {
    /*position: absolute;*/
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
#uploadedImage {
    max-width: 100%;
    max-height: 100%;
    display: none;
}
.highlight-body img.view-icon{

    max-height: 15px;

}

.guide_tab{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 41px;
    padding-left: 34px;
}
.guide_tab h2{
    font-size: 20px;
    font-family: 'Pretendard-Bold';
}
.step_guide{
    border: 1px solid #E1E3EB;
    border-radius: 8px;
    background-color: #F2F3F7;
    padding: 20px;
    padding-left: 37.5px;
    margin-top: 40px;
}
.step_guide p {
    color: #8C8E96;
    letter-spacing: -0.12px;
    font-size: 12px;
    display: flex;
    margin-bottom: 8px;
}
button { cursor:pointer; width:auto; overflow:visible; color:inherit; font-size:inherit; vertical-align:middle; background:none; background:transparent; border:none; box-sizing:border-box; }
.ir, .ir-b:before, .ir-a:after { display:inline-block; vertical-align:middle; background-image:url("../images/common/sprite.png"); background-position:999px 999px; background-repeat:no-repeat; }
.ir { padding:0; margin:0; white-space:nowrap; font-size:1px; overflow:hidden; text-indent:-999px; color:transparent; line-height:0; }
.i-sch { background-position:0 -86px; width:20px; height:20px; margin:-4px 0 0 -10px; }
.board-sch { margin-top:40px; text-align:center; font-size:0; }
.board-sch .sch-sel { display:inline-block; width:140px; }
.board-sch .sch-sel + .sch-sel { margin-left:8px; }
.board-sch .sch-ipt { position:relative; display:inline-block; margin-left:8px; width:300px; height:50px; border:1px solid #eee; border-radius:3px; text-align:left; box-sizing:border-box; }
.board-sch .fm-ipt-2 { width:calc(100% - 48px); border:none; height:100%; padding-right:0; }
.board-sch .btn-sch { position:absolute; right:0; width:48px; height:48px; top:1px; right:1px; }
.flex-just-end{
    display: flex;
    text-align: center;
    justify-content: flex-end;
    margin-bottom: 10px;
}
.flex-just-start{
    display: flex;
    text-align: center;
    justify-content: flex-start;
    margin-bottom: 10px;
}
.flex-column{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

/* 모달 스타일 정의 */
.modal {
    display: none; /* 처음 로딩 시 숨김 */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4); /* 어두운 배경 */
    display: flex;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
}
.modal-content {
    background-color: #fff; /* 흰색 배경 */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* 너비를 80%로 설정 */
    max-height: 90%;
    overflow-y: auto;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    animation-name: animatetop;
    animation-duration: 0.4s;
}
@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.modal-content table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
.modal-content table, .modal-content th, .modal-content td {
    border: 1px solid #ddd;
}
.modal-content th, .modal-content td {
    padding: 8px;
    text-align: left;
}
.modal-content th {
    background-color: #f2f2f2;
}

@media screen and (max-width: 767px) {
.board-list.cmgt { margin-top:11px; }
.board-list tr { display:-webkit-box; display:-ms-flexbox; display:flex; -ms-flex-wrap:wrap; flex-wrap:wrap; height:auto; padding:14px 0 12px; }
.board-list thead { display:none; }
.board-list colgroup { display:none; }
.board-list td { height:auto; padding:0 9px 0 0; }
.board-list td { display:block; }
.board-list .mo-tb-hide { display:none; }
.board-list .mo-tb-1 { -ms-flex-order:1; order:1; width:100%; padding-left:0; padding-bottom:5px; }
.board-list .mo-tb-1-1 { -ms-flex-order:1; order:1; width:100%; padding-left:0; padding-right:0; padding-bottom:5px; }
.board-list .mo-tb-2-1 { -ms-flex-order:2; order:2; }
.board-list .mo-tb-2-2 { -ms-flex-order:3; order:3; }
.board-list .subj {font-size:13px; line-height:1.37;}
.board-list .subj.st {font-size:14px; display:block; margin-bottom:5px;}
.board-list .subj-2 {font-size:13px; line-height:1.37;}
.board-list .subj-2:before {content:''; display:inline-block; width:12px; height:14px; margin:3px 3px 0 0; vertical-align:top; background-position:-65px -217px;}
.board-list .subj-tel {display:block; font-size:14px; text-align:left;}
.board-list .subj-tel:before {content:''; display:inline-block; width:12px; height:14px; margin:4px 3px 0 0; vertical-align:top; background-position:-78px -217px;}
.board-list .map-btn-2 {display:block; margin-top:5px;}
.board-list .no-data, .accordion .no-data, .board-accor .no-data { width:100%; padding:88px 0; font-size:13px; }
.ios.mobile table.board-list { table-layout:fixed; }
.board-source + .board-attatch { margin-top:24px; }
.board-source + .board-tag { margin-top:18px; }
}
/* 스피너 배경 설정 */
.spinner-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* 반투명 회색 배경 */
    z-index: 9998; /* 스피너보다 낮게 설정 */
}

/* 스피너 설정 */
.loadingio-spinner-spin-2by998twmg8 {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    text-align: center;
    width: 200px;
    height: 200px;
}

.ldio-yzaezf3dcmj {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
}

.ldio-yzaezf3dcmj div > div {
    position: absolute;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: #ffffff;
    animation: ldio-yzaezf3dcmj 1s linear infinite;
}

/* 개별 스피너 점의 애니메이션 설정 */
@keyframes ldio-yzaezf3dcmj {
    0% {
        opacity: 1;
        backface-visibility: hidden;
        transform: translateZ(0) scale(1.5, 1.5);
    }
    100% {
        opacity: 0;
        backface-visibility: hidden;
        transform: translateZ(0) scale(1, 1);
    }
}

.ldio-yzaezf3dcmj div:nth-child(1) > div {
    left: 148px;
    top: 88px;
    animation-delay: -0.875s;
}

.ldio-yzaezf3dcmj > div:nth-child(1) {
    transform: rotate(0deg);
    transform-origin: 160px 100px;
}

.ldio-yzaezf3dcmj div:nth-child(2) > div {
    left: 130px;
    top: 130px;
    animation-delay: -0.75s;
}

.ldio-yzaezf3dcmj > div:nth-child(2) {
    transform: rotate(45deg);
    transform-origin: 142px 142px;
}

.ldio-yzaezf3dcmj div:nth-child(3) > div {
    left: 88px;
    top: 148px;
    animation-delay: -0.625s;
}

.ldio-yzaezf3dcmj > div:nth-child(3) {
    transform: rotate(90deg);
    transform-origin: 100px 160px;
}

.ldio-yzaezf3dcmj div:nth-child(4) > div {
    left: 46px;
    top: 130px;
    animation-delay: -0.5s;
}

.ldio-yzaezf3dcmj > div:nth-child(4) {
    transform: rotate(135deg);
    transform-origin: 58px 142px;
}

.ldio-yzaezf3dcmj div:nth-child(5) > div {
    left: 28px;
    top: 88px;
    animation-delay: -0.375s;
}

.ldio-yzaezf3dcmj > div:nth-child(5) {
    transform: rotate(180deg);
    transform-origin: 40px 100px;
}

.ldio-yzaezf3dcmj div:nth-child(6) > div {
    left: 46px;
    top: 46px;
    animation-delay: -0.25s;
}

.ldio-yzaezf3dcmj > div:nth-child(6) {
    transform: rotate(225deg);
    transform-origin: 58px 58px;
}

.ldio-yzaezf3dcmj div:nth-child(7) > div {
    left: 88px;
    top: 28px;
    animation-delay: -0.125s;
}

.ldio-yzaezf3dcmj > div:nth-child(7) {
    transform: rotate(270deg);
    transform-origin: 100px 40px;
}

.ldio-yzaezf3dcmj div:nth-child(8) > div {
    left: 130px;
    top: 46px;
    animation-delay: 0s;
}

.ldio-yzaezf3dcmj > div:nth-child(8) {
    transform: rotate(315deg);
    transform-origin: 142px 58px;
}
.blind { display:block; position:absolute; left:-9999px; text-indent:9999px; width:0; height:0; border:0; overflow:hidden; font-size:1px; line-height:0; white-space:nowrap; }

.custom-input-container {
    /*margin-left: 5px;*/
    position: relative;
    display: inline-block;
    width: 100%;
}

.custom-label {
    position: absolute;
    top: -12px;  /* Adjust to place the label at the desired position */
    left: 10px;  /* Adjust to place the label at the desired position */
    font-size: 12px;
    color: #b0b0b0; /* Light gray color */
    background-color: #fff;
    padding: 0 5px;
    z-index: 1;
}

.custom-input {
    /*width: 100%;*/
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    outline: none;
    transition: border-color 0.3s ease;
}
.mgl-5{
    margin-left: 5px;
}
input[data-fakefile="file"] { position:absolute; width:1px; height:16px; padding:0; margin:0; opacity:0; overflow:hidden; box-sizing:border-box; }


#buttonListContainer {
    margin-top: 20px;
}

.buttonList .button-item {
    background-color: #f0f0f0;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.buttonList .button-item-ch {
    background-color: #fde81f;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.buttonList .button-item .button-actions {
    display: flex;
    gap: 10px;
}
.templatePopup{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 8px;
    width: 80%;      /* 화면 크기에 비례하여 유연한 크기 설정 */
    max-width: 800px; /* 최대 폭을 설정 */
    max-height: 90vh; /* 화면 높이에 비례하여 유연한 높이 설정 */
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: white;
    z-index: 1000;
    overflow-y: auto; /* 필요 시 스크롤 추가 */

}

.templatePopup .popup-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;

}
.templatePopup .popup-content #specialCharList {
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
    max-height: 400px; /* 컨텐츠 영역에 스크롤 추가 */
}
.templatePopup .popup-content #kko_icon_list {
    display: flex;
    flex-wrap: wrap;
}

.templatePopup .popup-content #kko_icon_list button {
    min-width: 105px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.templatePopup .popup-content #specialCharList span {
    padding: 10px;
    min-width: 45px;
    cursor: pointer;
    text-align: center;
}
.MuiButton-outlinedSizeSmall {
    padding: 3px 9px;
    font-size: 0.8125rem;
}

.jss288 {
    transform: scale(0.8);
    margin-right: 4px;
}
.kko-sub-text{
    font-size: 14px;
    color: #666;
}
.addCh {
    width: 100%;
    border: 1px solid #eee;
    cursor: default;
    outline: none;
    font-size: .8rem;
    padding-top: 7px;
    border-radius: 3px;
    margin-bottom: 4px;
    padding-bottom: 7px;
    background-color: #fde81f;
}
.MuiButton-label {
    width: 100%;
    display: inherit;
    align-items: inherit;
    justify-content: inherit;
}
#buttonPopup {
    position: fixed; /* 화면에 고정 */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* 상하좌우 중앙 정렬 */
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    width: auto; /* 필요시 조정 */
    max-width: 500px; /* 팝업이 화면을 넘지 않도록 설정 */
    box-sizing: border-box; /* 패딩 포함 넓이 계산 */
}

.popup-content{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.popup-content h3 {
    margin-top: 0;
}
.kko_icon {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    width: 24px;
    height: 24px;
}
.jss2034 {
    width: 100%;
    border: 1px solid #eee;
    cursor: default;
    outline: none;
    font-size: .8rem;
    padding-top: 7px;
    border-radius: 3px;
    margin-bottom: 4px;
    padding-bottom: 7px;
    background-color: #f7f7f7;
}
.jss877 {
    border: 1px solid #e2e2e2;
    cursor: pointer;
    padding: 4px;
    padding-left: 10px;
    border-radius: 20px;
    padding-right: 10px;
    background-color: #fff;
}
.quickLinkList{
    margin-top: 5px;
}
/********************* BOARD *********************/
.tb-col-1 { width:9.15%; }
.tb-col-2 { width:7.1%; }
.tb-col-3 { width:auto; }
.tb-col-4 { width:9.5%; }
.tb-col-5 { width:10%; }
.tb-col-6 { width:14.285714%; }
.tb-col-7 { width:32%; }
.tb-col-8 { width:22.5%; }
.tb-col-9 { width:20%; }
.tb-col-12 { width:20.62%; }
.tb-col-13 { width:29.37%; }
.tb-col-14 { width:104px; }
.tb-col-15 { width:45.25%; }
.tb-col-16 { width:114px; }
.tb-col-17 { width:145px; }
.tb-col-18 { width:80px; }
:root {
    --fa-style: 500; /* 기본 font-weight 값을 설정 */
}
.fa{
    font-weight: var(--fa-style, 500);
}

.tooltip {
    position: relative;
    /*display: inline-block;*/
    cursor: pointer;
}

.tooltip .tooltiptext {
    visibility: hidden;
    min-width: 140px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%; /* 툴팁이 버튼 위에 위치하게 함 */
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
}
.tooltiptext-w {
    width: 510px;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
#input-container{

}
.template-itemlist-box{
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.43;
}
.template-header{
    border-bottom: 1px solid #bbb;
    margin-bottom: 8px;
    padding-bottom: 8px;
    font-weight: 800;
}
.highlight-box{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #bbb;
    margin-bottom: 8px;
    padding-bottom: 8px;
}
.highlight-title-view{
    font-weight: 600;
}
.highlight-description-view{
    font-weight: 400;
}
.highlight-thumbnail{
    max-width: 45px;
    max-height: 45px
}
.highlight-thumbnail img{
    width: 100%;
    height: 100%;
    background: #0b109f;
}
.item-list-box .item-list{
    display: flex;
    justify-content: space-between;

}
.item-list-box{
    border-bottom: 1px solid #bbb;
    margin-bottom: 8px;
    padding-bottom: 8px;
}
.item-list-title{

}
.item-list-description{
    width: 70%;
    font-weight: 600;
    white-space: normal;
    word-wrap: break-word;
}